@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

:root {
  --primary-color: #03133d;
  --secondary-color: rgb(80, 80, 144);
  --bg-color-primary: #5b8cc8;
  --bg-color-secondary: #5f7997;
}

body {
  background-color: rgb(217, 233, 235);
  font-family: "Lato", sans-serif;
  margin: 0px;
}


/**links **/
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: white;
  border-radius: 0.5rem;
  border: 1px solid white;
}
/**lists **/
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/**nav **/

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
}

.navigation .nav-brand {
  font-size: 1.5rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-size: 1.5rem;
}

/** Header**/

.hero {
  padding: 2rem;
}

.hero .hero-img {
  width: 40vw;
  height: 30vh;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  color: var(--secondary-color);
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/** section**/

.section {
  text-align: center;
  padding: 2rem;
  width: 80vw;
  margin: 1rem auto;
  border-radius: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--bg-color-primary);
}

.p-ow {
  background-color: var(--bg-color-secondary);
  color: white;
}

/** footer */

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
